*{
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(to right, blue, yellow, red, orange, yellow);
}


nav{
    display: flex;
    justify-content: space-around;
}


nav a{
    padding: 20px;
    margin: 10px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: aqua;
}

input:hover{
    border-radius: 30px;
}